

.container {
  min-height: 100vh;
  background-image: url('/img/Bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.botaoVoltar {
  width: 100%;
  max-width: 64rem;
  margin-bottom: 1.5rem;
}

.link {
  color: #FED90F;
  text-decoration: none;
}

.link:hover {
  color: #00ff95;
}

.card {
  background-color: rgba(43, 38, 38, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
}

.containerImagem {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.imagemPerfil {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #FED90F;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.miniContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}


.textoSobre {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  color: white;
}



.containerFrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.frase {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-style: oblique;
  color: #FED90F ;
}

.containerBotao {
  margin-top: 2rem;
  text-align: center;
}

.botao {
  background-color: #FED90F ;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.botao:hover {
  background-color: #2563eb;
}